.footer{
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond (tab-port) {
        padding: 7rem 0;
    }

    @include respond (phone) {
        padding: 5rem 0;
    }

    &__logo-box{
        text-align: center;
        margin-bottom: $gutter-vertical;

        @include respond (tab-port) {
            margin-bottom: $gutter-horizontal;
        }

        @include respond (phone) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    &__logo {
        max-width: 15rem;
        width: 100%;
        height: auto;
    }

    &__navigation{
        border-top: 1px solid  $color-grey-light-2;
        padding-top: 2rem;
    }

    &__list{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__link{
        &:link,
        &:visited{
            color: $color-grey-light-1;
            text-decoration: none;
            font-size: $default-font-size;
            font-weight: 600;
            display: inline-block;
            transition: all .3s;
        }

        &:hover,
        &:active{
            background-image: linear-gradient(to right, $color-primary-light ,$color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }

    }

    &__copyright{
        color: $color-grey-light-1;
        border-top: 1px solid  $color-grey-light-2;
        padding-top: 2rem;
    }
}